<div class="navbar__desktop">
    <div class="navbar__component">
        <div class="navbar__logo">
            <a href="/">
                <img src="/images/naif-page-001%20nb.jpg" alt="logo_naïf">
            </a>
        </div>

        <div class="navbar__menu">
            <a class="<%- current_url === "illustrations" ? "active_nav_link" : "" %>" href="#">ILLUSTRATIONS</a>
            <a class="<%- current_url === "murals" ? "active_nav_link" : "" %>" href="#">MURALS</a>
            <a class="<%- current_url === "canvas" ? "active_nav_link" : "" %>" href="#">CANVAS</a>
            <a class="<%- current_url === "bio" ? "active_nav_link" : "" %>" href="/bio">BIO</a>
            <a class="<%- current_url === "contact" ? "active_nav_link" : "" %>" href="/contact">CONTACT</a>
            <a href="#">SHOP</a>
        </div>

    </div>
</div>

<div class="navbar__mobile">
    <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
            <a href="/">
                <img src="/images/logot_naif_mini.jpg" alt="logo_naïf">
            </a>
            <button class="navbar-toggler ms-auto" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarToggleExternalContent3" aria-controls="navbarToggleExternalContent3"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent3">
        <div class="bg-light menu_links_burger shadow-3 p-4">
            <a href="/" class="btn btn-link btn-block border-bottom m-0 <%- current_url === "" ? "active_link" : "" %>">Home</a>
            <a href="#" class="btn btn-link btn-block border-bottom m-0 <%- current_url === "illustrations" ? "active_link" : "" %>">Illustrations</a>
            <a href="#" class="btn btn-link btn-block border-bottom m-0 <%- current_url === "murals" ? "active_link" : "" %>">Murals</a>
            <a href="#" class="btn btn-link btn-block border-bottom m-0 <%- current_url === "canvas" ? "active_link" : "" %>">Canvas</a>
            <a href="/bio" class="btn btn-link btn-block border-bottom m-0 <%- current_url === "bio" ? "active_link" : "" %>">Bio</a>
            <a href="/contact" class="btn btn-link btn-block m-0 <%- current_url === "contact" ? "active_link" : "" %>">Contact</a>
            <a href="#" class="btn btn-link btn-block m-0 ">SHOP </a>
        </div>
    </div>

</div>