<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <%- include ('partials/header.ejs') %>
</head>
<body>
<%- include ('partials/navbar.ejs') %>


    <div class="contact__bloc">
        <%- include ('partials/contact_form.ejs') %>
        <div class="contact__image">
            <img src="/images/illustration_contact.jpg" alt="contact_illustration">
        </div>

    </div>


<%- include('partials/footer.ejs', {current_url: current_url}); %>
<%- include ('partials/font_test.ejs') %>




  </body>
</html>
